
* {
    background-color: papayawhip;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
.my-pic{
    height: 200px;
    width: 220px;
}
h2{
    font-size: 28px;
}
b{
    font-size: 20px;
}
a{
    font-size: 18px;
    color: plum;
}
p{
    font-size: 17px;
}
ul{
    list-style-type: square;
}
.contact{
    font-size: 17px;
    list-style-position: outside;
    list-style-type: none;
}
.contact-info{
    display: flex;

}
img{
    border-radius: 50%;
    margin: 5px 50px;
}
 .icon {
    position: relative;

}
.icon-picture {
    margin: 0px;
    width: 30px;
    height: 30px;
    position: absolute;

}